<section class='m_widget about'>
<% if(config.avatar) { %>
<img class='avatar waves-image' src='<%= url_for(config.avatar) %>' />
<%} %>
<div class='header'><%=config.author %>直播间</div>
<div class='content'>
<embed width="100%" height="100%" allownetworking="all" allowscriptaccess="always" src="https://staticlive.douyucdn.cn/common/share/play.swf?room_id=1677580" quality="high" bgcolor="#000" wmode="window" allowfullscreen="true" allowFullScreenInteractive="true" type="application/x-shockwave-flash">
<div class='desc'>
<p><a target="_blank" href="https://www.douyu.com/cpuwolf">斗鱼直播：大叔带你：开飞机</a></p>
<p style="margin-top: 1em;">
</p>
</div>
</div>
</section>
