<section class='m_widget about'>
<% if(config.avatar) { %>
<img class='avatar waves-image' src='<%= url_for(config.avatar) %>' />
<%} %>
<div class='header'><%=config.author %></div>
<div class='content'>
<embed width="100%" height="100%" allownetworking="all" allowscriptaccess="always" src="https://staticlive.douyucdn.cn/common/share/play.swf?room_id=1677580" quality="high" bgcolor="#000" wmode="window" allowfullscreen="true" allowFullScreenInteractive="true" type="application/x-shockwave-flash">
<div class='desc'>
<p><a target="_blank" href="https://www.douyu.com/cpuwolf">斗鱼直播：大叔带你：开飞机</a></p>
<p style="margin-top: 1em;">
<div style="width: 4em;">
<a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=181ecffdf6f7616c08501d20af3d7ed8207626318a5778a1f347c7841f8d5ce3"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="斗鱼大叔带你：开飞机" title="斗鱼大叔带你：开飞机"></a>
</div><span>QQ群:378072629</span>
</p>
</div>
</div>
</section>
