<section class='m_widget adv' sytle='line-height: 0px;box-shadow: 0 0 0;background: content-box;'>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- x-plane main page adv -->
	<ins class="adsbygoogle"
	     style="display:inline-block;width:250px;height:250px"
	     data-ad-client="ca-pub-3409735151169599"
	     data-ad-slot="5129545438"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
</section>
