<section class='m_widget about' >
<div class='header'>加入QQ群</div>
<div class='content' >
<div class='desc' sytle='padding:0;text-align: center;'>


<div>
	<a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=181ecffdf6f7616c08501d20af3d7ed8207626318a5778a1f347c7841f8d5ce3">
		<img style="padding:10%;" border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="斗鱼大叔带你：开飞机" title="斗鱼大叔带你：开飞机">
	</a>
	<h3>QQ群:<b>378072629</b></h3>
	<img border="0" src="/qqjoin.png" alt="斗鱼大叔带你：开飞机" title="斗鱼大叔带你：开飞机">
</div>

</div>
</div>
</section>
